registry=https://jfrog.elhub.cloud/artifactory/api/npm/elhub-npm/
@elhub:registry=https://jfrog.elhub.cloud/artifactory/api/npm/elhub-npm-release-local/
@sencha:registry=https://jfrog.elhub.cloud/artifactory/api/npm/elhub-npm/
phantomjs_cdnurl = https://jfrog.elhub.cloud/artifactory/third-party-bin-local/phantomjs/2.1.1/
//jfrog.elhub.cloud/artifactory/api/npm/elhub-npm-release-local/:username=${JFROG_USERNAME}
//jfrog.elhub.cloud/artifactory/api/npm/elhub-npm-release-local/:_password=${JFROG_PASSWORD_64BIT}
//jfrog.elhub.cloud/artifactory/api/npm/elhub-npm-release-local/:email=${JFROG_EMAIL}
//jfrog.elhub.cloud/artifactory/api/npm/elhub-npm-release-local/:always-auth=true

