[flake8]
max-line-length = 160

# Ignore formatting conflict for slices between flake8 and black:
# https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#slices
ignore = E203
